# Backend
backend/
backend/.env
backend/ven/
backend/__pycache__/
backend/app/**/__pycache__/
backend/*.pyc
backend/alembic/versions/*.pyc

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env

# General
.DS_Store
*.log
